@font-face {
  font-family: baloo;
  src: url(Baloo-Regular.ttf);
}
body{
  font-family: baloo;
}
.conteiner{
  position: relative;
}
/* navbar */
nav{
  position: relative;
  width: 100vw;
  z-index: 2;
}
.nav-order{
  /* background-color: red; */
  padding: 0;
  margin: 0;
  width: 50vw;
  justify-content: space-evenly;
}
.nav-link{
  list-style: none;
}
.nav-link a{
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.logo img{
  height: 85px;
  padding: 10px;
}
.kontak button{
  font-size: 24px;
  padding: 10px 30px;
}

/* end navbar */

.content {
  background-color: aqua;
  position: relative;
  height: 50%;
  padding-top: 8vh;
  padding-left: 25vw;
  z-index: 2;
}
.container-banner {
  background-color: #064F48;
  height: 60px;
  width: 28%;
  margin-left:20px;
  margin-top: 10px;
}
.container-banner-copy {
  position: absolute;
  background-color: aqua;
  height: 24px;
  width: 21%;
  top: 122px;
  left: 673px;
  z-index: 3;
}
.sm-banner {
  /* background-color: red; */
  /* width: 100vw; */
  /* height: 100px; */
  top: 55px;
  left: 680px;
  position: absolute;
}
.sm-banner img {
  width: 100px;
}
.sm-banner img:nth-child(1) {
  position: relative;
  transform: rotate(-10deg) translate(20px, 20px);
}
.sm-banner img:nth-child(2) {
  z-index: 2;
  position: relative;
}
.sm-banner img:nth-child(3) {
  position: relative;
  transform: rotate(10deg) translate(-21px, 20px);
}

.section-1 {
  position: relative;
  width: 100vw;
  height: 50vh;
  font-family: baloo;
  z-index: 1;
}
.overlay {
  position: absolute;
  background-image: url(pattern.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.section-1 h1 {
  font-size: 68px !important;
}

.section-1 .child-2 {
  display: inline-block;
  padding: 0 15px;
  background-color: #b11f24;
}
.section-1 .child-2 h1 {
  color: white;
}
.section-1 .child-3 h1 {
  color: #ffc700;
}
.bg-orange {
  background-color: #f4680a;
}
.child-3{
  margin-left: 20px;
}
